/* Colors used:
Russian Violet #4F1D62;
Russian Violet #2 #342063;
Mauve #F3BFFA;
Anti-flash White #F6F7F9;
Aquamarine #87E7C4;
Emerald #18D68E
off black #1d1e1f
#0c6a46
#6c3083
#994c30
#1430cf
#994c30 */


* {box-sizing: border-box;}

html {
  scroll-behavior: smooth;
}

body {


  background-color: #B8E0D2;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.6;
  color: #1d1e1f;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2em;
  font-style: bold;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  font-style: bold;
}

h3 {
  font-size: 1.2em;
  font-style: bold italic; 
}

h4 {
  font-size: 1em;
  font-style: normal;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: #ff7f50
  ;
  text-decoration: none; /* No underlining */
}

a:visited {
  color: #6c3083;
}

a:hover {
  color: #994c30;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:active {
  color: #1430cf; /* Selected link */
}

a:focus {
  color: #ff7f50;
  text-decoration: underline;
}

.button {
  display: inline-block;
border: 2px solid #F3BFFA;
background-color: #B8E0D2;
  color: #fff;
  font-weight: 800;
  padding: 10px;
  margin: 10px;
  border-radius: 3px;

  text-decoration: none;
  transition: 0.2s opacity;
}

.button:hover {
  color: #ff7f50;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}

.button:active {
  background-color: #ff7f50;

}

.button.contact {
  color: #4F1D62;
  text-transform: uppercase;

}

.button.contact:hover {
  background-color: #ff7f50;
  color: #fff;
}

.button.contact:active {
  background-color: #4F1D62;
}



/* Layout styling*/

.container {
  padding: 0px 15px;
  display: block;
  margin: 0 auto;
  max-width: 1200px;
}
main { 
  padding: 0 15px;
  display: block;
  margin: auto;
  max-width: 1200px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

/* components layout*/

header {
  text-align: center;
  background-color: #FFD3E0;
  padding:10px 0 ;
  display: inline-block;
  width: 100%;
  position: fixed;
  border: solid #F3BFFA 1px; 
  box-shadow: 0 9px 22px rgba(87, 72, 87, 0.5)  ; 
 
}
header h1 {
  margin: 0;
}



#work .row { 
  padding-bottom: 25px;
   border-bottom: 1px solid #4a4a4a; 
 
  }
#hero h1 {
  font-size: 40px;
  text-align: center;
  font-style:bold; /* Centers text */}

  #hero span {
    display: block;
  }

  #work .row h3 {text-align: center;}


  .logo 
  {max-width: 250px;
 padding: 10px;}

 nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block; max-width: 100%;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;

}
nav > ul > li > a:visited:hover:active:focus {
  
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4F1D62;

} 
#header {
  background-color: #c2b8b8;
}


#body
{background-color: #B8E0D2 ;}
#hero {
  
  padding: 20px 0;
  background-color: #AED9E0;
}



#main {
  background-color: #FFF8C4;

  padding-top: 300px;

}


/*footer*/

footer {
  background-color: #FFC8A2
;
color: #3D2729;

padding: 40px 0 40px 0;
border: solid #F3BFFA 1px; 

}
.row
 {display: flex;
flex-direction: row;
margin: 25px;}
.column 
{

  margin-right: 20px;

}
.column:last-child {
  margin-right: 0;

}
.linkedin svg {

height: 40px;
margin-right: 100px;
}

.ex-twitter svg {
  height: 40px;
}



main {

  background-color: #FFF8C4;

  padding-top: 300px;

}
.row {
  display: flex;
  
}

.col-md-6 {
  flex: 50%;
}


#box {
  
  display: flex; }

  .col-30 {
    flex:30%
  }
  .col-30 {flex:30%
  }

  .col-30 {flex: 30%;}

.box
 {
 
  padding: 20px;

  border: 4px solid #F3BFFA;
  box-sizing: border-box;
  margin: 60px 0;

}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  main { padding-top: 300px;

  }
body {font-size: 18px;}

.col-md-6 {
  width: 50%;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}