/* Colors used:

Pink Shades:

#FDC5C4 (light pink)
#F3BFFA (lighter pink)
#03A67B (dark pink)
Green Shades:

#B8E0D2 (light green)
#03A67B (dark green)
Yellow Shades:

#FCE331 (yellow)
#edc655 (light yellow)
#fcffad (lighter yellow)
#f76414 (dark yellow)
Other Colors:

#FEFEFC (off-white)
#4F1D62 (dark purple)
#ff7f50 (orange)
*/

* { box-sizing: border-box; }

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fefefc;
  font-family: 'open sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #4f1d62;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  color: #4f1d62;
  font-size: 2em;
  font-weight: 400px;
  text-align: center;
}

h2 {
  color: #4f1d62;
  text-align: center;
  font-size: 1.5em;
  font-weight: normal;
}

h3 {
  color: #4f1d62;
  font-size: 1.2em;
  font-weight: normal;
  font-style: normal;
}

h4 {
  color: #4f1d62;
  font-size: 1em;
  font-weight: normal;
}

p {
  font-size: 1em;
  font-weight: 300;
  font-style: normal;
}

li {
  font-size: 1em;
  font-weight: 300;
  font-style: normal;
}

.font1 {
  color: #4f1d62;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: #ff7f50;
  text-decoration: none; /* No underlining */
}

a:visited {
  color: #4f1d62; /* White font */
}

a:hover {
  color: #03a67b;
  text-decoration: none; /* Underlining when hovering over a link */
}

a:active {
  color: #fdc5c4;
}

a:focus {
  color: #fdc5fd;
  text-decoration: underline;
}

.button {
  text-align: center;
  display: inline-block;
  border: 2px solid #03a67b;
  background-color: #fdc5fd;
  color: #03a67b;
  font-weight: bold;
  padding: 9px;
  margin: 2px;
  border-radius: 30px;
  text-decoration: none;
  transition-duration: 0.5s opacity, 0.5s font-size;
}

/* Coming soon button */

.button-container {
  position: relative;
  display: inline-block;
}

.construction-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; /* Ensure it's above the button */
}

.construction-overlay p {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  color: orangered; /* Text color */
}

/* Coming soon button finish */

.button:hover {
  cursor: 🌴, pointer;
  color: #03a67b;
  background-color: #fdc5c4; /* Light pink */
  opacity: 0.9;
  text-decoration: none;
}

.button:active {
  background-color: #03a67b;
  color: #fdc5c4;
}

.button.contact {
  color: #4f1d62; /* White font */
  text-transform: uppercase;
}

.button.contact:hover {
  cursor: 🌴, pointer;
  background-color: #fdc5c4;
  color: #03a67b;
  opacity: 0.8;
  text-decoration: none;
  font-size: 18px;
}

.container {
  padding: 0 15px;
  display: block;
  margin: 0 auto;
  max-width: 1200px;
}

main {
  padding: 56px;
  display: block;
  margin: auto;
  max-width: 1200px;
}

main {
  background-color: #fefefc;
  padding-top: 150px;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

/* components layout */

/* HEADER */

header {
  text-align: center;
  background-color: #fce331;
  padding: 10px 0 4px;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  border-bottom: solid #f3bffa 1px;
  box-shadow: 0 9px 22px rgba(87, 72, 87, 0.5);
}

.logo {
  max-width: 150px;
}

nav > ul {
  margin: 1em 0;
  list-style-type: none;
  padding: 0;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle.responsive {
  position: relative;
}

.navtoggle li.icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 12px 0;
  border-bottom: 1px solid #03a67b;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
  border-bottom: none;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav > ul > li > a:visited:hover:active:focus {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #03a67b;
}

#work1 .float-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 25px;
}

#work .float-row {
  width: 100%;
  padding-bottom: 25px;
  border-bottom: 2px solid #03a67b;
}

#work h2 {
  text-align: center;
}

#home.float-row {
  width: 100%;
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2em;
  text-align: Left;
  font-style: bold;
}

#hero p {
  text-align: left;
}

#hero span {
  display: block;
}

.infobox {
  .container {
    position: relative;
  }

  .container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate (-50%, -50%);
  }
}

#body {
  background-color: #b8d0e2;
}

#hero {
  padding: 20px 0;
  background-color: #fdc5c4;
}

/* Work page carousel- Expert for Expat */

.col-md-6 {
  flex: 50%;
}

.col-30 {
  flex: 30%;
}

.col-30 {
  flex: 30%;
}

.col-30 {
  flex: 30%;
}

.boxgreen {
  padding: 20px;
  border: 4px solid #03a67b;
  box-sizing: border-box;
  margin: 60px 0;
}

.box {
  padding: 20px;
  border: 4px solid #f3bffa;
  box-sizing: border-box;
  margin: 60px 0;
}

#boxgreen {
  display: flex;
}

#box {
  display: flex;
}

.carousel-slide {
  display: none;
}

/* Style the dots */
.slick-dots {
  position: absolute;
  bottom: 10px;
  list-style: none;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots li button {
  font: size 10px;
  line-height: 1;
  display: block;
  padding: 20px;
  color: #fff;
  background-color: #4f1d62;
  border: none;
  border-radius: 50%;
  cursor: 🌴, pointer;
  transition: background-color 0.3s ease;
}

.slick-dots li.slick-active button {
  background-color: #fff; /* Change the color of the active dot */
  color: #4f1d62;
}

.carousel-slide img {
  max-width: 100%; /* Make the images responsive */
  height: auto;
}

/* About Page */

.skills-container {
  display: flex;
  justify-content: space-between;
}

.skills-tools {
  text-align: left;
  padding: 0;
  border: 6px solid #f3bffa;
  width: 100%;
  height: auto;
  margin-right: 20px;
 
}

.float-row {
  margin: 20px;
}

/* footer */

#contact h2 {
  text-align: left;
}

footer {
  background-color: #fce331;
  color: #3d2729;
  padding: 40px 0;
  border: solid #f3bffa 1px;
}

footer.row {
  margin: 25px;
}

.column {
  margin-right: 20px;
}

.column:last-child {
  margin-right: 0;
}

.social-icons {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 10px 0 4px;
    margin: 0;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 0;
  }

  .navtoggle.responsive nav {
    padding: 0;
  }

  nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 1em 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .logo {
    max-width: 250px;
    padding: 10px;
  }

  .navtoggle .icon {
    display: none;
  }

  body {
    font-size: 18px;
  }

  .col-md-6 {
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
  }

  .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
  }

  [class*="col-"] {
    float: left;
    box-sizing: border-box;
    padding: 10px;
  }

  .float-row::after {
    content: "";
    clear: both;
    display: table;
  }

  /* Main Section */

  main {
    background-color: #fefefc;
    padding-top: 200px;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .logo {
    max-width: 250px;
    padding: 10px;
  }

  /* ==============================
X-large devices (1440px or larger)
================================= */
  @media only screen and (min-width: 1440px) {
    .container {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @keyframes color-change {
    0% { fill: #edc655; }
    50% { fill: #fcffad; }
    100% { fill: #f76414; }
  }

  .sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  @keyframes cloud-move {
    from { transform: translate(0, 50px); }
    to { transform: translate(200px, 50px); }
  }

  .cloud-front {
    animation-duration: 20s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  @keyframes cloud-move-reverse {
    from { transform: translate(446px, 48px); }
    to { transform: translate(100px, 48px); }
  }

  .cloud-back {
    animation: 24s cloud-move-reverse infinite alternate linear;
  }

  /* Keyframes for the fade-in animation */

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  .nav-links {
    animation: fadeIn 1s ease-in-; /* Change the duration and timing function as needed */
  }

  /* Additional styles for your navigation links */

  div.container-header a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    z-index: 0;
    cursor: 🌴, pointer;
  }
}
